body {
    background-color: silver;
    text-align: center;
}

h1 {
    font-size: 44px;
}

p {
    font-size: 30px;
}

.btn {
    padding: 10px 20px;
    height: 50px;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    border: 2px solid;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

img {
    -user-select: none;
    -use-drag: none;
    pointer-events: none;
}

.newwindow p {
    font-size: 25px;
}
